<footer>
    <div class="container-fluid">
      <div class="row bg-dark">
        <div class="col-md-6 col-sm-6 col-xs-7 titles">
            <h2>
                <a href="https://github.com/timaeos/linuxbtw"><i class="fab fa-github" aria-hidden="true"></i><span class="p-2 text-nowrap">https://github.com/timaeos/linuxbtw</span></a>
            </h2>
        </div>
      </div>
      <div class="row bg-dark">
        <div class="col-md-6 col-sm-6 col-xs-7 titles">
            <h2 class="text-left">
                <a href="https://matrix.to/#/#linux-btw:matrix.nexaeos.io"><img src="<%= rootPath() %>assets/images/matrix.svg" class="rounded" alt="Matrix" width="20" height="20"><span class="p-2 text-nowrap">#linux-btw</span></a>
            </h2>
        </div>
      </div>
      <div class="row bg-dark">
        <div class="col-md-6 col-sm-6 col-xs-7 titles">
            <h2 class="text-left">
                <a href="mailto:timaeos@proton.me"><i class="fa fa-envelope"></i><span class="p-2 text-nowrap">timaeos@proton.me</span></a>
            </h2>
        </div>
      </div>
    </div>
</footer>